.Container{
  width: 980px;
  margin: 0 auto;
}
.ScrollBar{
  overflow: scroll;
  width: 25%;
  height: 350px;
  padding: 5px;
  margin: 5px;
  border: solid 1px black;
  display: inline-block;
}
.InfoCountry{
  border: solid 1px black;
  display: inline-block;
  width: 43%;
  vertical-align: top;
  margin: 5px;
  padding: 9px;
}
.Info{
  display: inline-block;
}
.Flag{
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-right: 30px;
}
.Flag img{
  width: 120px;
  height: 68px;
}